.button {
    border-radius: 26px;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0 8px;
}

/* Color styles */
.button.primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.button.primary:hover {
    background-color: var(--light-primary-color);
}

.button.red {
    background-color: var(--red-color);
    color: var(--white-color);
}

.button.red:hover {
    background-color: var(--light-red-color);
}

/* Size styles */
.button.medium {
    font-size: 16px;
    height: 48px;
}

.button.small {
    height: 30px;
    font-weight: 400;
}
