.content {
    padding-top: 56px;
    padding-bottom: 100px;
}

.grid-wrapper {
    border: 1px solid #ececec;
    border-bottom: none;
}

.grid {
    display: grid;
    grid-template-columns: 4fr 1fr 1.5fr 1fr 0.5fr;
}

.grid-header {
    text-transform: uppercase;
}

.grid-item {
    display: flex;
    align-items: center;
    padding: 16px 0 16px 32px;
    border-bottom: 1px solid #ececec;
}

.grid-item:not(:last-child) {
    border-right: 1px solid #ececec;
}

.small-grid-item {
    padding-left: 0;
    text-align: center;
    justify-content: center;
}

.cart-item-details {
    display: flex;
    align-items: center;
}

.cart-item-details img {
    width: 70px;
    height: 70px;
}

.cart-item-details h1 {
    font-size: 16px;
    margin-left: 16px;
    font-weight: 500;
}

.cart-item-price {
    font-size: 16px;
    font-weight: 600;
    color: var(--red-color);
}

.cart-garbage-icon svg {
    color: var(--red-color);
    width: 24px;
    height: 24px;
}

.delete-btn {
    padding: 4px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.cart-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 40px;
}

.cart-actions h6 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
}

.cart-summary {
    display: grid;
    grid-template-columns: 220px 190px;
    border: 1px solid #ececec;
    margin-bottom: 30px;
}

.summary-item {
    display: flex;
    align-items: center;
    padding: 16px 0 16px 32px;
    border-bottom: 1px solid #ececec;
}

.summary-item:nth-child(odd) {
    border-right: 1px solid #ececec;
    font-weight: 600;
    text-transform: capitalize;
}
