.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    gap: 280px;
}

.logo img {
    height: 60px;
}

.actions {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 9999px;
    width: 25%;
    background-color: var(--red-color);
    color: var(--white-color);
    height: 54px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}

.phone svg {
    width: 20px;
    height: 20px;
}

.phone span {
    margin-left: 6px;
}

@media (max-width: 1023px) {
    .top-header {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }

    .phone {
        font-size: 14px;
    }

    .phone svg {
        width: 16px;
        height: 16px;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .top-header {
        gap: 88px;
    }

    .logo img {
        height: 48px;
    }
}

@media (min-width: 0) and (max-width: 739px) {
    .logo img {
        height: 32px;
    }

    .top-header {
        gap: 28px;
    }

    .phone {
        height: 46px;
        width: 45px;
    }

    .phone span {
        display: none;
    }
}
