.related {
    position: relative;
    background: #f8f8f8;
    padding: 100px 0;
}

.related.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.related h5 {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
}

.list {
    display: flex;
    gap: 30px;
}

.list-item {
    width: calc((100% - 120px) / 5);
}
