.related {
    position: relative;
    background: #f8f8f8;
    padding: 100px 0;
}

.related.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.related h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.list-item {
    width: calc((100% - 120px) / 5);
}

@media (min-width: 740px) and (max-width: 1023px) {
    .related {
        padding: 80px 0;
    }

    .list {
        gap: 16px;
    }

    .list-item {
        width: calc((100% - 32px) / 3);
    }

    .related h5 {
        font-size: 20px;
    }
}

@media (min-width: 0) and (max-width: 739px) {
    .related {
        padding: 60px 0;
    }

    .list {
        gap: 8px;
    }

    .list-item {
        width: calc((100% - 8px) / 2);
    }

    .related h5 {
        font-size: 20px;
    }
}
