.container {
    padding: 28px 38px;
    padding-bottom: 52px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.product-item {
    width: calc((100% - 90px) / 4);
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.search {
    border: 1px solid var(--gray-color);
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    width: 60%;
    height: 40px;
    padding: 8px 12px;
    font-size: 16px;
}

.add-btn {
    height: 40px;
    margin-left: 16px;
}

@media (min-width: 740px) and (max-width: 1023px) {
    .products-list {
        gap: 12px;
    }

    .product-item {
        width: calc((100% - 36px) / 4);
    }
}

@media (min-width: 0) and (max-width: 739px) {
    .search-wrapper {
        flex-direction: column;
    }

    .search,
    .search-wrapper a {
        width: 100%;
    }

    .add-btn {
        margin-left: 0;
        margin-top: 12px;
    }

    .products-list {
        gap: 8px;
        row-gap: 16px;
    }

    .product-item {
        width: calc((100% - 8px) / 2);
    }
}
