.container {
    padding: 28px 38px;
    padding-bottom: 52px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.product-item {
    width: calc((100% - 90px) / 4);
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.search {
    border: 1px solid var(--gray-color);
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    width: 60%;
    height: 40px;
    padding: 8px 12px;
    font-size: 16px;
}

.add-btn {
    height: 40px;
    margin-left: 16px;
}
