.loader {
    border-radius: 50%;
    border-style: solid;
    border-color: #f3f3f3;
    border-top-color: #3498db;
    animation: loader-spin 1s linear infinite;
}

.loader.small {
    border-width: 4px;
    width: 40px;
    height: 40px;
}

.loader.medium {
    width: 100px;
    height: 100px;
    border-width: 10px;
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .loader.medium {
        width: 80px;
        height: 80px;
        border-width: 8px;
    }
}

@media (min-width: 0) and (max-width: 739px) {
    .loader.medium {
        width: 60px;
        height: 60px;
        border-width: 6px;
    }

    .loader.small {
        width: 30px;
        height: 30px;
        border-width: 3px;
    }
}
