.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 680px;
    margin: 0 auto;
}

.form {
    width: 100%;
}

.price-input {
    position: relative;
}

.price-currency {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
}

.textarea-input {
    margin-top: 16px;
    width: 100%;
    outline: none;
    border: 1px solid #dadada;
    padding: 18px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    resize: none;
}

.textarea-input.error {
    border-color: var(--red-color);
    background-color: #fff2f4;
}

.textarea-input::placeholder {
    color: rgba(32, 31, 32, 0.3);
}

.category-select {
    width: 100%;
    margin: 12px 0;
    height: 30px;
    font-size: 16px;
    padding-left: 12px;
}

.upload-image {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.uploaded-image {
    margin-top: 24px;
    width: 40%;
    height: auto;
}

.submit-btn {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
}

.error-text {
    text-align: left;
    margin: 8px 0;
    color: var(--red-color);
}
