.content {
    padding-top: 56px;
    padding-bottom: 100px;
    display: flex;
}

.products-content {
    position: relative;
    flex: 1;
}

.products-list {
    position: relative;
    flex: 1;
}

.products-list.loading {
    opacity: 0.45;
    pointer-events: none;
}

.loader {
    position: absolute;
    top: -52px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 5;
}

.payment-form-wrapper {
    width: 440px;
    margin-left: 52px;
}

.total-price {
    color: var(--red-color);
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.empty-text {
    margin-top: 24px;
    text-align: center;
}

.empty-text p {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.empty-text a {
    font-size: 18px;
    color: var(--primary-color);
}

@media (max-width: 1023px) {
    .content {
        flex-direction: column;
    }

    .payment-form-wrapper {
        order: -1;
        margin: 0 auto 40px;
        width: 100%;
        max-width: 440px;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .content {
        padding-top: 36px;
        padding-bottom: 80px;
    }
}

@media (min-width: 0) and (max-width: 739px) {
    .content {
        padding-top: 32px;
        padding-bottom: 60px;
    }

    .total-price {
        font-size: 16px;
    }
}
