.container {
    padding: 28px 38px;
    padding-bottom: 52px;
}

.order-item {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1.5fr 2fr 2fr;
    padding: 20px 12px;
    border-radius: 4px;
}

.order-item:not(:last-child) {
    border-bottom: 1px solid #ececec;
}

.order-header {
    padding: 12px;
    font-weight: 600;
    margin-bottom: 24px;
    border: none;
    background-color: #e5e7ea;
}
