.wrapper {
    display: flex;
    height: 54px;
    width: 75%;
}

.wrapper.hide-search {
    display: none;
}

.select-wrapper {
    padding-right: 4px;
    width: 25%;
    border: 1px solid var(--gray-color);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    overflow: hidden;
}

.select {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
    border: none;
    outline: none;
}

.search {
    position: relative;
    flex: 1;
    border: 1px solid var(--gray-color);
    border-left-color: transparent;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.search input {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    background: transparent;
    outline: none;
    border: none;
    font-size: 14px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.search input:read-only {
    background: transparent !important;
}

.search-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    padding: 10px;

    background-color: #e2e2e2;
    border: none;
    outline: none;
    border-radius: 100%;
    cursor: pointer;
}

.search-btn:hover {
    opacity: 0.9;
}

.search-btn svg {
    font-size: 18px;
}

.search-results {
    position: absolute;
    top: calc(100% + 12px);
    left: 0;
    width: 100%;
    border-radius: 12px;
    background-color: #fff;
    padding: 18px 24px;
    max-height: calc(90vh - 66px);
    z-index: 9999;
    box-shadow: 0 -4px 32px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    overscroll-behavior: contain;
    overflow: scroll;
    color: #0000008a;

    transition: all 0.18s;
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
}

.search-results.show {
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
}

.result-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result-header a {
    text-decoration: none;
    color: #0000008a;
}

.result-header a:hover {
    text-decoration: underline;
}

.result-list {
    padding-top: 14px;
    list-style-type: none;
}

.result-item {
    display: flex;
    align-items: center;
    padding: 6px 0;
}

.result-item img {
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.result-item-title {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    margin-bottom: 4px;
}

.result-item-price {
    color: var(--red-color);
    font-size: 13px;
    font-weight: 500;
}

@media (min-width: 740px) and (max-width: 1023px) {
}

@media (min-width: 0) and (max-width: 739px) {
    .wrapper {
        height: 46px;
        flex: 1;
    }

    .select-wrapper {
        display: none;
    }

    .search {
        border-color: var(--gray-color);
        border-radius: 100px;
    }
}
