.products-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    column-gap: 30px;
    row-gap: 40px;
    margin-bottom: 80px;
}

.products-item {
    width: calc((100% - 60px) / 3);
}

@media (min-width: 740px) and (max-width: 1023px) {
    .products-list {
        column-gap: 12px;
        row-gap: 24px;
    }

    .products-item {
        width: calc((100% - 24px) / 3);
    }
}

@media (min-width: 0) and (max-width: 739px) {
    .products-list {
        gap: 12px;
    }

    .products-item {
        width: calc((100% - 12px) / 2);
    }
}
