.statistics {
    display: flex;
}

.statistic-item {
    padding: 12px 16px;
    width: calc(100% / 3);
    text-align: center;
    font-size: 18px;
}

.statistic-item h6 {
    font-size: 16px;
}

.statistic-value {
    font-size: 22px;
    font-weight: 600;
    margin: 4px 0;
}

.statistic-item:not(:last-child) {
    border-right: 1px solid #ececec;
}

.orders-list {
    padding-top: 52px;
}

.order-item {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1.5fr 1fr 2fr;
    padding: 20px 12px;
    border-radius: 4px;
    color: var(--text-color);
    text-decoration: none;
}

.order-item div {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.order-item:not(:last-child) {
    border-bottom: 1px solid #ececec;
}

.order-header {
    padding: 12px;
    font-weight: 600;
    margin-bottom: 24px;
    border: none;
    background-color: #e5e7ea;
}

.more-details-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.products-wrapper {
    margin-top: 36px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.product-item {
    width: calc((100% - 90px) / 4);
}

@media (min-width: 740px) and (max-width: 1023px) {
    .statistic-item {
        padding: 8px 12px;
    }

    .statistic-item h6 {
        font-size: 14px;
    }

    .statistic-value {
        font-size: 18px;
    }

    .statistic-item div {
        font-size: 16px;
    }

    .products-list {
        gap: 12px;
    }

    .product-item {
        width: calc((100% - 36px) / 4);
    }

    .order-header {
        margin-bottom: 14px;
    }

    .order-item {
        grid-template-columns: 0.5fr 2fr 1.5fr 1fr 1.5fr;
        font-size: 14px;
    }
}

@media (min-width: 0) and (max-width: 739px) {
    .statistics {
        overflow-x: scroll;
        max-width: calc(100vw - 16px);
    }

    .statistics::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .statistics {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .statistic-item {
        padding: 6px 8px;
        min-width: 180px;
    }

    .statistic-item h6 {
        font-size: 12px;
    }

    .statistic-value {
        font-size: 16px;
    }

    .statistic-item div {
        font-size: 14px;
    }

    .products-list {
        gap: 8px;
        row-gap: 16px;
    }

    .product-item {
        width: calc((100% - 8px) / 2);
    }

    .order-header {
        margin-bottom: 12px;
    }

    .order-item {
        grid-template-columns: 0.5fr 2fr 0fr 1fr 0fr;
        font-size: 12px;
    }
}
