.content {
    padding-top: 30px;
    padding-bottom: 100px;
}

.products-container {
    padding-left: 30px;
    flex: 1;
}

.filter-products-wrapper {
    display: flex;
    justify-content: flex-end;
}

.filter-products {
    height: 32px;
    background-color: transparent;
    border: 1px solid #dadada;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 6px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    column-gap: 30px;
    row-gap: 40px;
    margin-bottom: 80px;
}

.products-item {
    width: calc((100% - 60px) / 3);
}
