.item {
    width: 100%;
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 38px;
}

.item:not(:last-child) {
    padding-bottom: 38px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 38px;
}

.item-img {
    width: 160px;
}

.item-img img {
    max-width: 100%;
    height: auto;
}

.item-details {
    padding-left: 22px;
    flex: 1;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.item-info a {
    text-decoration: none;
}

.item-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.item-quantity {
    margin-top: 8px;
    font-size: 18px;
}

.item-total {
    font-size: 18px;
    color: var(--red-color);
    font-weight: 600;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

/* Loading Skeleton */
.item.loading .product-img {
    aspect-ratio: 1 / 1;
}

.item.loading .product-img,
.item.loading .item-title,
.item.loading .item-quantity,
.item.loading .item-total {
    background-color: var(--skeleton-color);
    color: transparent;
}

.item.loading .item-quantity,
.item.loading .item-title,
.item.loading .item-total {
    height: 20px;
}

@media (min-width: 740px) and (max-width: 1023px) {
    .item-details {
        padding-left: 18px;
    }

    .item-title {
        font-size: 16px;
    }
}

@media (min-width: 0) and (max-width: 739px) {
    .item-details {
        padding-left: 12px;
    }

    .item-title {
        font-size: 14px;
    }

    .item-img {
        width: 20%;
    }

    .item-quantity,
    .item-total {
        font-size: 16px;
    }
}
