.order-info {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
}

.order-info span {
    font-weight: 400;
}

.items-list {
    padding-bottom: 36px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 24px;
}

.order-item {
    display: flex;
    margin-bottom: 24px;
}

.item-img {
    width: 200px;
}

.item-img img {
    max-width: 100%;
    height: auto;
}

.item-details {
    flex: 1;
    padding-left: 32px;
}

.item-title {
    font-size: 22px;
    margin-bottom: 16px;
}

.item-details p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 8px;
}

.item-details span {
    font-weight: 600;
}

.item-price {
    color: var(--red-color);
    font-weight: 600;
}

.order-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    color: var(--red-color);
}

@media (min-width: 740px) and (max-width: 1023px) {
    .order-info {
        font-size: 16px;
    }

    .item-details {
        padding-left: 18px;
    }

    .item-img {
        width: 160px;
    }

    .item-title {
        font-size: 16px;
    }

    .item-details p {
        font-size: 18px;
    }

    .order-total {
        font-size: 18px;
    }
}

@media (min-width: 0) and (max-width: 739px) {
    .order-info {
        font-size: 14px;
    }

    .item-details {
        padding-left: 12px;
    }

    .item-img {
        width: 20%;
    }

    .item-title {
        font-size: 14px;
    }

    .item-details p {
        font-size: 16px;
    }

    .order-total {
        font-size: 16px;
    }
}
